/* You can add global styles to this file, and also import other style files */
html, body{
  font-family: sans-serif;
  background-color: #f6f9fc;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-mdc-table{
  background-color: white !important;

}

.mat-mdc-row, .mat-mdc-header-row{
  color: black !important;
}


