/* You can add global styles to this file, and also import other style files */
html, body{
  font-family: sans-serif;
  background-color: #f6f9fc;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
